Repository osamhack2022/CLOUD_APP_IOT_KeepYourEndeavor_Moment, pull requests merged in 2022-10, with the labels that each got.

#48 feature: attach notice router to app #33
  api-server/lib/func.js
  api-server/routes/notice.js
Labels: server, feature

#57 feature: Attach standard for the issue #53
  api-server/db/firestoreCon.js
  api-server/routes/issue.js
Labels: server, feature

#58 feature: Need to check with block server #50
  api-server/lib/security.js
  api-server/routes/auth.js
  api-server/routes/issue.js
Labels: server, feature

#59 feature: End to make the code to logic but it need to be tested #54
  api-server/routes/auth.js
  api-server/routes/block.js
  api-server/routes/home.js
Labels: server, feature

#60 fetch: Build classify user score under the standard condition except …
  api-server/routes/block.js
Labels: server, feature

#61 Cloud
  CLOUD(BE)/README.md
  CLOUD(BE)/console/channel/index.ts
  CLOUD(BE)/console/channel/routes/index.ts
  CLOUD(BE)/console/frontend/build/asset-manifest.json
  CLOUD(BE)/console/frontend/build/index.html
  CLOUD(BE)/console/frontend/build/logo192.png
  CLOUD(BE)/console/frontend/build/logo512.png
  CLOUD(BE)/console/frontend/build/precache-manifest.7e2fa0702429731f7da5dcfd1b5aba3a.js
  CLOUD(BE)/console/frontend/build/precache-manifest.b285ef16f4a4a3ce9029fc2491a168a0.js
  CLOUD(BE)/console/frontend/build/service-worker.js
  CLOUD(BE)/console/frontend/build/static/css/main.073c9b0a.css
  CLOUD(BE)/console/frontend/build/static/css/main.073c9b0a.css.map
  CLOUD(BE)/console/frontend/build/static/js/2.422b9026.chunk.js
  CLOUD(BE)/console/frontend/build/static/js/2.422b9026.chunk.js.map
  CLOUD(BE)/console/frontend/build/static/js/2.9cb7e91d.chunk.js
  CLOUD(BE)/console/frontend/build/static/js/2.9cb7e91d.chunk.js.LICENSE
  CLOUD(BE)/console/frontend/build/static/js/2.9cb7e91d.chunk.js.map
  CLOUD(BE)/console/frontend/build/static/js/787.cda612ba.chunk.js
  CLOUD(BE)/console/frontend/build/static/js/787.cda612ba.chunk.js.map
  CLOUD(BE)/console/frontend/build/static/js/main.46bea6e5.chunk.js
  CLOUD(BE)/console/frontend/build/static/js/main.46bea6e5.chunk.js.map
  CLOUD(BE)/console/frontend/build/static/js/main.8dc813d8.chunk.js
  CLOUD(BE)/console/frontend/build/static/js/main.8dc813d8.chunk.js.map
  CLOUD(BE)/console/frontend/build/static/js/main.da1a07ee.js
  CLOUD(BE)/console/frontend/build/static/js/main.da1a07ee.js.LICENSE.txt
  CLOUD(BE)/console/frontend/build/static/js/main.da1a07ee.js.map
  CLOUD(BE)/console/frontend/build/static/js/main.ddc2fc31.chunk.js
  CLOUD(BE)/console/frontend/build/static/js/main.ddc2fc31.chunk.js.map
  CLOUD(BE)/console/frontend/build/static/media/logo.6ce24c58023cc2f8fd88fe9d219db6c6.svg
  CLOUD(BE)/console/frontend/src/App.tsx
  CLOUD(BE)/console/frontend/src/components/common/AskModal.tsx
  CLOUD(BE)/console/frontend/src/components/common/Button.tsx
  CLOUD(BE)/console/frontend/src/components/common/Header.tsx
  CLOUD(BE)/console/frontend/src/components/common/Responsive.tsx
  CLOUD(BE)/console/frontend/src/components/main/Auth.tsx
  CLOUD(BE)/console/frontend/src/components/main/Main.tsx
  CLOUD(BE)/console/frontend/src/hooks/user/useAuth.ts
  CLOUD(BE)/console/frontend/src/hooks/user/useUser.ts
  CLOUD(BE)/console/frontend/src/lib/api.ts
  CLOUD(BE)/console/frontend/src/lib/styles/palette.ts
  CLOUD(BE)/console/server/index.ts
  CLOUD(BE)/console/server/routes/auth.ts
  CLOUD(BE)/docker-compose/couchbase.yaml
  CLOUD(BE)/docker-compose/peer-test.yaml
  CLOUD(BE)/package.json
  CLOUD(BE)/src/config/conifg.ts
  CLOUD(BE)/src/database/db.ts
  CLOUD(BE)/src/database/ledger.ts
  CLOUD(BE)/src/ky2.ts
  CLOUD(BE)/yarn.lock
  images/bc-explorer1.png
  images/bc-explorer2.png
Labels: blockchain

#67 Server block
  api-server/routes/application.js
  api-server/routes/auth.js
  api-server/routes/block.js
  api-server/routes/home.js
  api-server/routes/notice.js
Labels: server, blockchain, refactor, database

#68 docs: Write all api docs #55
  .gitignore
  api-document/application.md
  api-document/auth.md
  api-document/block.md
  api-document/home.md
  api-document/issue.md
  api-document/notice.md
  api-document/profile.md
  api-document/readme.md
  api-server/routes/auth.js
  api-server/routes/home.js
Labels: docs

#74 BlockChain v1.0.1 배포 전 마지막 빌드
  CLOUD(BE)/README.md
  CLOUD(BE)/config/config.json
  CLOUD(BE)/console/channel/index.ts
  CLOUD(BE)/console/channel/middleware/cratePeerYaml.ts
  CLOUD(BE)/console/channel/middleware/createDatabaseYaml.ts
  CLOUD(BE)/console/channel/routes/index.ts
  CLOUD(BE)/console/server/routes/block.ts
  CLOUD(BE)/package-lock.json
  CLOUD(BE)/package.json
  CLOUD(BE)/src/block.ts
  CLOUD(BE)/src/blockChain.ts
  CLOUD(BE)/src/database/BlockModel.ts
  CLOUD(BE)/src/database/db.ts
  CLOUD(BE)/src/database/ledger.ts
  CLOUD(BE)/src/kafka/initKafka.ts
  CLOUD(BE)/yarn.lock
Labels: blockchain

#75 feature: Attach standard get and delete router to app #63
  api-server/db/sql.sql
  api-server/routes/auth.js
  api-server/routes/issue.js
  api-server/routes/standard.js
Labels: server, database

#99 관리자 페이지 서버 연동
  CLOUD(FE)/config-overrides.js
  CLOUD(FE)/package.json
  CLOUD(FE)/src/App.tsx
  CLOUD(FE)/src/components/auth/Login.tsx
  CLOUD(FE)/src/components/auth/Register.tsx
  CLOUD(FE)/src/components/common/Header.tsx
  CLOUD(FE)/src/components/common/Sidebar.tsx
  CLOUD(FE)/src/components/issue/Issue.tsx
  CLOUD(FE)/src/components/issue/IssueDeleteModal.tsx
  CLOUD(FE)/src/components/issue/issueDetail.tsx
  CLOUD(FE)/src/components/main/Main.tsx
  CLOUD(FE)/src/components/notice/Notice.tsx
  CLOUD(FE)/src/components/notice/NoticeDeleteModal.tsx
  CLOUD(FE)/src/components/notice/NoticeDetail.tsx
  CLOUD(FE)/src/components/notice/NoticeModal.tsx
  CLOUD(FE)/src/hooks/auth/useSignin.ts
  CLOUD(FE)/src/hooks/auth/useSignup.ts
  CLOUD(FE)/src/hooks/common/useModal.tsx
  CLOUD(FE)/src/hooks/issue/useIssue.ts
  CLOUD(FE)/src/hooks/notice/useNotice.tsx
  CLOUD(FE)/src/hooks/notice/useNoticeDetail.tsx
  CLOUD(FE)/src/lib/api.ts
  CLOUD(FE)/src/lib/error.ts
  CLOUD(FE)/yarn.lock
Labels: frontend

#103 feature: User Page #94
  CLOUD(FE)/src/components/user/User.tsx
  CLOUD(FE)/src/hooks/user/useUser.tsx
Labels: frontend

#107 app initail commit
  .DS_Store
  APP(FE)/assets/bio_lillust.svg
  APP(FE)/assets/circle.svg
  APP(FE)/assets/ic_back.svg
  APP(FE)/assets/ic_calendar_active.svg
  APP(FE)/assets/ic_calendar_grey.svg
  APP(FE)/assets/ic_home_active.svg
  APP(FE)/assets/ic_home_gery.svg
  APP(FE)/assets/ic_menu_active.svg
  APP(FE)/assets/ic_menu_grey.svg
  APP(FE)/assets/ic_notification.svg
  APP(FE)/assets/splash_logo.svg
  APP(FE)/lib/components/AppBar.dart
  APP(FE)/lib/components/Button.dart
  APP(FE)/lib/components/TextField.dart
  APP(FE)/lib/pages/auth/login_page.dart
  APP(FE)/lib/pages/common/splash_page.dart
  APP(FE)/lib/utils/ky2_color.dart
  APP(FE)/lib/viewmodel/splash_viewmodel.dart
  APP(FE)/packages.md
  APP(FE)/pubspec.yaml
Labels: app

#110 feature: Web Admin System
  CLOUD(FE)/src/App.tsx
  CLOUD(FE)/src/components/auth/Register.tsx
  CLOUD(FE)/src/components/issue/Issue.tsx
  CLOUD(FE)/src/components/issue/issueModal.tsx
  CLOUD(FE)/src/components/notice/NoticeDetail.tsx
  CLOUD(FE)/src/components/notice/ResultModal.tsx
  CLOUD(FE)/src/hooks/auth/useSignin.ts
  CLOUD(FE)/src/hooks/auth/useSignup.ts
  CLOUD(FE)/src/hooks/common/useApi.tsx
  CLOUD(FE)/src/hooks/common/useModal.tsx
  CLOUD(FE)/src/hooks/issue/useAddIssue.tsx
  CLOUD(FE)/src/hooks/issue/useIssue.ts
  CLOUD(FE)/src/hooks/notice/useNotice.tsx
  CLOUD(FE)/src/hooks/notice/useNoticeDetail.tsx
  CLOUD(FE)/src/lib/api.ts
  CLOUD(FE)/src/pages/UserPage.tsx
  CLOUD(FE)/src/types/auth.ts
Labels: frontend, feature

#112 Eunsol/app
  APP(FE)/android/app/src/main/AndroidManifest.xml
  APP(FE)/lib/core/di_container.dart
  APP(FE)/lib/main.dart
  APP(FE)/lib/models/auth/user.dart
  APP(FE)/lib/models/notice/notice.dart
  APP(FE)/lib/pages/auth/login_page.dart
  APP(FE)/lib/pages/auth/signinfo_page.dart
  APP(FE)/lib/pages/auth/signup_page.dart
  APP(FE)/lib/pages/main/calendar_page.dart
  APP(FE)/lib/services/api/application/application_api.dart
  APP(FE)/lib/services/api/application/application_service.dart
  APP(FE)/lib/services/api/auth/auth_api.dart
  APP(FE)/lib/services/api/auth/auth_service.dart
  APP(FE)/lib/services/api/notice/notice_api.dart
  APP(FE)/lib/services/api/notice/notice_service.dart
  APP(FE)/lib/services/api/service.dart
  APP(FE)/lib/viewmodel/calendar_viewmodel.dart
  APP(FE)/lib/viewmodel/login_viewmodel.dart
  APP(FE)/lib/viewmodel/main_viewmodel.dart
  APP(FE)/lib/viewmodel/signinfo_viewmodel.dart
  APP(FE)/lib/viewmodel/signup_viewmodel.dart
  CLOUD(FE)/src/components/notice/NoticeDetail.tsx
  CLOUD(FE)/src/components/notice/ResultModal.tsx
  CLOUD(FE)/src/hooks/issue/useAddIssue.tsx
  CLOUD(FE)/src/hooks/notice/useNoticeDetail.tsx
  CLOUD(FE)/src/lib/api.ts
Labels: app, feature

#122 docs: url 수정
  CLOUD(BE)/README.md
  CLOUD(BE)/config/config.json
  CLOUD(BE)/console/channel/index.ts
  CLOUD(BE)/console/channel/middleware/cratePeerYaml.ts
  CLOUD(BE)/console/channel/routes/index.ts
  CLOUD(BE)/console/frontend/build/asset-manifest.json
  CLOUD(BE)/console/frontend/build/index.html
  CLOUD(BE)/console/frontend/build/precache-manifest.bb289e5634b8dec26eefcd879f2f265d.js
  CLOUD(BE)/console/frontend/build/service-worker.js
  CLOUD(BE)/console/frontend/build/static/js/main.5d0c468f.chunk.js
  CLOUD(BE)/console/frontend/build/static/js/main.5d0c468f.chunk.js.map
  CLOUD(BE)/console/frontend/src/components/main/Main.tsx
  CLOUD(BE)/console/server/routes/block.ts
  CLOUD(BE)/package-lock.json
  CLOUD(BE)/package.json
  CLOUD(BE)/src/config/conifg.ts
  CLOUD(BE)/src/database/ledger.ts
  CLOUD(BE)/yarn.lock
Labels: docs
